<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Example</title>
  

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
  <bb-example></bb-example>
<script src="$(staticResourcesRoot)/static/items/bb-example-ang/dist/runtime.7b63b9fd40098a2e8207.js" defer></script><script src="$(staticResourcesRoot)/static/items/bb-example-ang/dist/polyfills.60613ca380e70c92e448.js" defer></script><script src="$(staticResourcesRoot)/static/items/bb-example-ang/dist/main.762150b3f9bc9bffb576.js" defer></script></body>
</html>
